// Define variables for your color scheme

// For example:
$red: #DA4450;
$blue: #145C9E;
$light-blue: #86B8FD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #050505;
$light-gray: #EBEBEB;
