<div class="category mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <h1>Add a new holding</h1>
       <%= simple_form_for [@account, @holding] do |f| %>
          <%= f.association :stock, label_method: :ticker, value_method: :id%>
          <%= f.input :shares %>
          <%= f.submit "Add", class: "btn btn-info mt-2" %>
        <% end %>

       <form class="form-inline mt-5" id="stockForm">
          <input class="form-control ml-auto" type="text" placeholder="Find Stock" id="stockTicker">
          <input class="form-control mr-auto btn btn-primary" type="submit" id="tickerSubmit">
        </form>

        <table class="table mt-4">
          <tr class="d-flex justify-content-center text-right">
            <th class="col-1">Stock Name:</th>
            <td class="col-8 col-md-5" id="stockName">  </td>
          </tr>
          <tr class="d-flex justify-content-center text-right">
            <th class="col-1">Stock Price:</th>
            <td class="col-8 col-md-5" id="stockPrice">  </td>
          </tr>
          <tr class="d-flex justify-content-center text-right">
            <th class="col-1">Type:</th>
            <td class="col-8 col-md-5" id="stockType"> </td>
          </tr>
        </table>
        </div>
      </div>
       <script src="dist/main.js"></script>
    </div>

