.intro {
  margin: 16px 0;
  text-align: center;
   h2, p {
    color: black;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    margin: 8px 0;
  }
}

.home-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;


}

.home-feature {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid black;
  padding: 8px;
  border-radius: 12px;
  margin: 12px 4px;
  background-color: $blue;
  box-shadow: 0 0 1px 1px black;
  height: 500px;
  img {
    width: 60%;
    object-fit: contain;
  }

}

.home-feature-text {
  text-align: center;
  height: 50%;
 h3 {
  color: $red;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}
  p {
    color: white;
    font-size: 16px;
  }

}



