<%= render 'banner' %>
<div class="container">
  <div class="intro">
    <h2>Your money is yours.</h2>
    <p>You work hard for you money, shouldn't your money work hard for you? </p>
      <p>Monease is built for young adults who are interested in learning more about smart saving and investing.</p>
  </div>
  <div class="home-features container">
    <div class="home-feature">
      <%# <div class="home-feature-bg"></div> %>
      <%= image_tag "emergency.png", class: "card-img" %>
      <div class="home-feature-text">
        <h3>Be Ready. Always.</h3>
        <p class="card-text">Monease will help you establish an emergency fund for all of life's tough situations.</p>
      </div>
    </div>
    <div class="home-feature ">
      <%# <div class="home-feature-bg"></div> %>
      <%= image_tag "cash_stack.png", class: "card-img" %>
      <div class="home-feature-text">
        <h3>Save where it counts</h3>
        <p class="card-text">Where your money is saved can be just as important as how much is saved.  Monease will help you find accounts that will get the returns you expect.</p>
      </div>
    </div>
    <div class="home-feature">
      <%= image_tag "house_goal.png", class: "card-img" %>
      <div class="home-feature-text">
        <%# <div class="home-feature-bg"></div> %>
        <h3>Reach your goals!</h3>
        <p class="card-text">Wether you're saving for something big or something small Monease will help work with you to track your progess. </p>
      </div>
    </div>
  </div>
</div>
