<%= render 'banner' %>
<div class="container">
  <div class="intro">
    <h2>Keep your team close.</h2>
    <p>Kyoro is a management tool that helps your team stay connected through Slack integration and analysis - a quick way to check how your team is doing so that you can meet their needs. Don't let the distance keep your team from feeling connected.</p>
  </div>
  <div class="home-features container">
    <div class="home-feature">
      <%# <div class="home-feature-bg"></div> %>
      <%= image_tag "emergency.png", class: "card-img-1" %>
      <div class="home-feature-text">
        <h3>Be Ready. Always.</h3>
        <p class="card-text">Monease will help you establish an emergency fund for all of life's tough situations.</p>
      </div>
    </div>
    <div class="home-feature ">
      <%# <div class="home-feature-bg"></div> %>
      <%= image_tag "cash_stack.png", class: "card-img-2" %>
      <div class="home-feature-text">
        <h3>Save where it counts</h3>
        <p class="card-text">Where your money is saved can be just as important as how much is saved.  Monease will help you find accounts that will get the returns you expect.</p>
      </div>
    </div>
    <div class="home-feature">
      <%= image_tag "house_goal.png", class: "card-img-3" %>
      <div class="home-feature-text">
        <%# <div class="home-feature-bg"></div> %>
        <h3>Reach your goals!</h3>
        <p class="card-text">Let's make your dreams into reality!  Monease will help work with you  </p>
      </div>
    </div>
  </div>
</div>
