.card_goal {
  background-color: $primary;
  border-radius: 8px;
  padding: 8px;
 p {
 }

}



.card_goal_img {
  height: 200px;
  width: 200px;
  background-size: cover;
  padding: 8px;
  margin: 8px;
}

