.card_goal {
  background-color: $primary;
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
  width: 300px;
 p {
 }
}

.card_goal_img {
  height: 200px;
  width: 150px;
  background-size: cover;
  padding: 8px;
  margin: 8px;
}

.cards_completed {
  background-color: $secondary;
  border-radius: 8px;
  text-align: center;
  padding: 4px;
}

.card_completed {
  background-color: $success;
  padding: 4px 8px;
  margin: 4px 8px;
  border-radius: 8px;
  box-shadow: 0 0 .1 .3;
  text-align: left;
}
