.navbar-lewagon {
  justify-content: space-between;
  background: $primary;
  height: 64px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-brand a {
  color: white;
  font-size: 36px;
}

.nav-link {
  color: white;
  font-size: 24px;
  font-weight: light;
  margin-right: 8px;
}
